[submodule ".themes/octopress-flat"]
	path = .themes/octopress-flat
	url = git://github.com/alexharris/octopress-flat.git
[submodule ".themes/mathy"]
	path = .themes/mathy
	url = https://github.com/stchangg/mathy.git
